main {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 100px;
}

body {
    height: 100%;
    margin: 0;
    padding: 2rem 0;
}

header,
footer {
    font-size: 1.2rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c0c0c0;
}

footer {
    height: 3rem;
}

a {
    text-decoration: none;
}

div.nav-add {
    display: flex;
    justify-content: space-evenly;
}

/* Buttons style */

button {
    display: inline-block;
    border: none;
    padding: 0.7rem;
    margin: 0;
    text-decoration: none;
    color: #000000;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 400ms ease-in-out, color 400ms ease-in-out, transform 400ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button.navBtn {
    font-size: 1.1rem;
    text-align: center;
    /* background: rgb(150, 200, 250); */
}

button.navBtn:hover,
button.navBtn:focus {
    background: rgb(50, 100, 150);
    color: #ffffff;
}

button.manage {
    font-size: 2rem;
    background-color: inherit;
    color: rgb(50, 100, 150);
    padding: 0;
    margin: 0.5rem;
}

button.manage:hover,
button.manage:focus {
    color: #000000;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.8);
}

/* affichage des données */



h1 {
    text-align: center;

    padding-bottom: 20px;
}

.navbar-nav {
    flex-direction: row;
    float: right;
}

/* Factures détails */
.companyInvoiceDetails {
    margin-left: auto;
    margin-right: auto;
}

#edit {
    text-align: center;
}

/* Sociétés détails */
.contactCompanyDetails {
    margin-left: auto;
    margin-right: auto;
}

.companyDetails {
    text-align: center;
}

/* Contact détails */
.contactDetails {
    text-align: center;
}

.invoiceContactDétails {
    margin-left: auto;
    margin-right: auto;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 1.2rem;
    width: 500px;
    height: 250px;
    color: white;
}