main {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header,
footer {
    font-size: 1.2rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.formContent {
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: rgb(215, 235, 255);
}

div.form {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

input {
    height: 1rem;
}

div.nav {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    padding-left: auto;
}

button {
    display: inline-block;
    border: none;
    padding: 0.7rem;
    margin: 0;
    text-decoration: none;
    color: #000000;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 400ms ease-in-out, color 400ms ease-in-out,
        transform 400ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button.nav {
    font-size: 1.1rem;
    /* background: rgb(150, 200, 250); */
}

button.nav:hover,
button.nav:focus {
    background: rgb(50, 100, 150);
    color: #ffffff;
}

button.manage {
    font-size: 2rem;
    background-color: inherit;
    color: rgb(50, 100, 150);
    padding: 0;
    margin: 0.5rem;
}

button.manage:hover,
button.manage:focus {
    color: #000000;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.8);
}

/* affichage des données */
/* partie maxendre css */
table {
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(215, 235, 255);
}

tbody {
    background-color: rgb(215, 235, 255);
}

th,
td {
    border: 1px solid black;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.navbar-nav {
    flex-direction: row;
}

.nav-link {
    float: left;
}

nav {
    text-align: center;
    justify-content: center;
}
